.example {
  background-color: #eaeaea;
  padding-block: 25px 40px;
}

.example__title {
  margin-block: 0 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }
}

.example__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.example__item {
  @include font-full($oswald-font, 14px, 20px, 400, $secondary-color);
  text-align: center;
  text-transform: uppercase;
}
