.main-nav {
  font-family: $oswald-font;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: $secondary-color;
  text-transform: uppercase;
}

.main-nav__toggle {
  background-color: $primary-bg-color;
  border: none;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__link {
  color: inherit;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--current {

  }

}
