.program-card {
  background-color: $basic-grey;
}

.program-card__title {
font-family: $oswald-font;
font-size: 24px;
line-height: 37px;
font-weight: 400;
color: $secondary-color;
text-transform: uppercase;
}

.program-card__link {
  font-family: $oswald-font;
  color: $secondary-color;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;

  &:hover {

  }

  &:focus {

  }

  &:active {
    opacity: 0.3;
  }
}
